<h1><%= t('views.buffet.show.details.title') %></h1>

<% if user_signed_in? && current_user.buffet_owner? && current_user.actual_buffet_owner?(@buffet) %>
  <%= link_to t('views.buffet.show.details.edit_buffet'), edit_buffet_path(@buffet), class: "edit-button" %>
  <br>
  <%= link_to t('views.buffet.show.details.new_event_type'), new_buffet_event_type_path(@buffet) %>
  <br>
<% end %>

<div class="buffet-details">
  <strong><%= t('views.buffet.show.details.business_name') %>:</strong> <%= @buffet.name %><br>
  <% if user_signed_in? && current_user.buffet_owner? && current_user.actual_buffet_owner?(@buffet) %>
    <strong><%= t('views.buffet.show.details.company_name') %>:</strong> <%= @buffet.company_name %><br>
    <strong><%= t('views.buffet.show.details.cnpj') %>:</strong> <%= @buffet.cnpj %><br>
  <% end %>
  <strong><%= t('views.buffet.show.details.phone') %>:</strong> <%= @buffet.phone %><br>
  <strong><%= t('views.buffet.show.details.contact_email') %>:</strong> <%= @buffet.contact_email %><br>
  <strong><%= t('views.buffet.show.details.address') %>:</strong> <%= [@buffet.address, @buffet.district, @buffet.city, @buffet.state, @buffet.zip_code].compact.join(', ') %><br>

  <% if @buffet.description.present? %>
    <strong><%= t('views.buffet.show.details.description') %>:</strong> <%= @buffet.description %><br>
  <% end %>

  <% if @buffet.payment_methods.present? %>
    <strong><%= t('views.buffet.show.details.payment_methods') %>:</strong> <%= @buffet.payment_methods %><br>
  <% end %>

  <% lowest_price = nil %>
  <% @buffet.event_types.each do |event_type| %>
    <% event_type.event_prices.each do |event_price| %>
      <% if lowest_price.nil? || event_price.base_price < lowest_price %>
        <% lowest_price = event_price.base_price %>
      <% end %>
    <% end %>
  <% end %>

  <% if lowest_price %>
    <strong><%= t('views.buffet.show.details.lowest_base_price') %>:</strong> <%= number_to_currency(lowest_price) %><br>
  <% end %>
</div>

<% if user_signed_in? && !current_user.buffet_owner? %>
  <%= link_to t('views.buffet.show.details.make_order'), new_buffet_order_path(@buffet), class: "make-order-button" %>
  <br>
<% end %>

<% if @buffet.event_types.any? %>
  <h2><%= t('views.buffet.show.details.event_types_offered') %></h2>
  <div class="events-container">
    <% @buffet.event_types.each do |event_type| %>
      <div class="event-card">
        <% if event_type.photos.any? %>
          <div id="carousel<%= event_type.id %>" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <% event_type.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%= 'active' if index == 0 %>">
                  <%= image_tag(photo.image, class: "d-block w-100", style: "max-height: 150px;") if photo.image.attached? %>
                </div>
              <% end %>
            </div>
            <a class="carousel-control-prev" href="#carousel<%= event_type.id %>" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel<%= event_type.id %>" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        <% end %>
        <strong><%= t('activerecord.attributes.event_type.name') %>:</strong> <%= link_to event_type.name, buffet_event_type_path(@buffet, event_type) %><br>
        <strong><%= t('activerecord.attributes.event_type.description') %>:</strong> <%= event_type.description %><br>
        <strong><%= t('activerecord.attributes.event_type.menu_text') %>:</strong> <%= event_type.menu_text %><br>

        <% event_type.event_prices.each do |event_price| %>
          <strong><%= t('views.buffet.show.details.base_price') %>:</strong> <%= number_to_currency(event_price.base_price) %><br>
          <strong><%= t('views.buffet.show.details.additional_price_per_person') %>:</strong> <%= number_to_currency(event_price.additional_price_per_person) %><br>
          <strong><%= t('views.buffet.show.details.extra_hour_price') %>:</strong> <%= number_to_currency(event_price.extra_hour_price) %><br>
        <% end %>
        <% all_days = event_type.event_prices.each_with_object([]) do |event_price, days| %>
          <% days.concat(JSON.parse(event_price.days_of_week)) if event_price.days_of_week.present? %>
        <% end.uniq.sort %>

        <% if all_days.present? %>
          <% day_names = all_days.map { |index| Date::DAYNAMES[index.to_i] } %>
          <strong><%= t('views.buffet.show.details.valid_days') %>:</strong> <%= day_names.to_sentence(last_word_connector: t('views.buffet.show.details.valid_days_sentence_connector')) %><br>
        <% end %>
      </div>
    <% end %>
  </div>

<% else %>
  <p><%= t('views.buffet.show.details.no_event_types') %></p>
<% end %>

<br>

<%= link_to t('views.buffet.show.details.back'), :back, class: "back-link" %>
