<h1><%= t('views.event_price.index.title') %></h1>

<%= link_to t('views.event_price.index.new_price'), new_event_type_event_price_path(@event_type), class: "btn btn-primary" if current_user.buffet_owner? && current_user.actual_buffet_owner?(@event_type.buffet) %>

<table class="table">
  <thead>
  <tr>
    <th><%= t('views.event_price.index.base_price') %></th>
    <th><%= t('views.event_price.index.additional_price_per_person') %></th>
    <th><%= t('views.event_price.index.extra_hour_price') %></th>
  </tr>
  </thead>
  <tbody>
  <% @event_prices.each do |event_price| %>
    <tr>
      <td><%= number_to_currency(event_price.base_price) %></td>
      <td><%= number_to_currency(event_price.additional_price_per_person) %></td>
      <td><%= number_to_currency(event_price.extra_hour_price) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('views.event_price.index.back_to_event_type'), event_type_path(@event_type), class: "btn btn-secondary" %>
