<%= form_with(model: @event_price, url: event_type_event_prices_path(@event_type)) do |form| %>
  <% if @event_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_price.errors.count, t('views.event_price.form.error_explanation.title', count: @event_price.errors.count)) %></h2>
      <ul>
        <% @event_price.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :base_price, t('views.event_price.form.labels.base_price') %>
    <%= form.text_field :base_price %>
  </div>

  <div class="field">
    <%= form.label :additional_price_per_person, t('views.event_price.form.labels.additional_price_per_person') %>
    <%= form.text_field :additional_price_per_person %>
  </div>

  <div class="field">
    <%= form.label :extra_hour_price, t('views.event_price.form.labels.extra_hour_price') %>
    <%= form.text_field :extra_hour_price %>
  </div>

  <div class="days_of_week">
    <h4><%= t('views.event_price.form.days_of_week.title') %>:</h4>
    <% if @event_type.days_of_week.present? %>
      <% day_indices = JSON.parse(@event_type.days_of_week) %>
      <% selected_days = day_indices.map { |index| Date::DAYNAMES[index.to_i] } %>

      <% selected_days.each do |day| %>
        <% day_index = Date::DAYNAMES.index(day) %>
        <div>
          <%= check_box_tag "event_price[days_of_week][]", day_index.to_s, false, id: day %>
          <%= label_tag day, day %>
        </div>
      <% end %>
    <% else %>
      <p><%= t('views.event_price.form.days_of_week.no_days_available') %></p>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit t('views.event_price.form.actions.create_price') %>
    <%= link_to t('views.event_price.form.actions.back'), :back, class: "back-link" %>
  </div>
<% end %>
