<h1>Seja bem-vindo ao CadeBuffet!</h1>

<% if user_signed_in? && current_user.buffet_owner? && current_user.buffet.present? %>
  <h2><%= current_user.buffet.name %></h2>
  <p><strong>Description:</strong> <%= current_user.buffet.description %></p>

  <%= link_to "Edit Buffet", edit_buffet_path(current_user.buffet), class: "edit-button" %>
<% else %>

 <% @buffets.each do |buffet| %>
    <h2><%= link_to(buffet.name, buffet_path(buffet.id)) %></h2>
    <p><strong>Description:</strong> <%= buffet.description %></p>
  <% end %>

<% end %>