<h1>Edit Price for Order</h1>

<%= form_with(model: @order, url: update_price_order_path(@order), method: :patch) do |form| %>
  <div class="field">
    <%= form.label :price, "Order Price:" %>
    <%= form.number_field :price, step: 0.01, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Update Price", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Back to Order', order_path(@order), class: 'btn btn-secondary' %>
