<h1><%= t('views.order.index.my_orders') %></h1>
<% if current_user.buffet_owner? %>
  <h2><%= t('views.order.index.pending_orders') %></h2>
  <% if @pending_orders.present? %>
    <% @pending_orders.each do |order| %>
      <div class="pending-orders">
        <h3><%= t('views.order.index.order_details.order') %> <%= link_to "##{order.code}", order_path(order) %></h3>
        <p><%= t('views.order.index.order_details.event_date') %>: <%= order.event_date.strftime("%d/%m/%Y") %></p>
        <p><%= t('views.order.index.order_details.status') %>: <%= order.status.capitalize %></p>
        <hr>
      </div>
    <% end %>
  <% else %>
    <p><%= t('views.order.index.no_pending_orders') %></p>
  <% end %>

  <h2><%= t('views.order.index.orders') %></h2>
  <% if @other_orders.present? %>
    <% @other_orders.each do |order| %>
      <div class="other-orders">
        <% if order.status != "cancelled" %>
          <h3><%= t('views.order.index.order_details.order') %> <%= link_to "##{order.code}", order_path(order) %></h3>
        <% else %>
          <h3><%= t('views.order.index.order_details.order') %> <%="##{order.code}"%></h3>
        <% end %>
        <p><%= t('views.order.index.order_details.event_date') %>: <%= order.event_date.strftime("%d/%m/%Y") %></p>
        <p><%= t('views.order.index.order_details.status') %>: <%= order.status.capitalize %></p>
        <hr>
      </div>
    <% end %>
  <% else %>
    <p><%= t('views.order.index.no_other_orders') %></p>
  <% end %>
<% elsif current_user.regular_user? %>
  <% if @client_orders.present? %>
    <% @client_orders.each do |order| %>
      <div class="client-orders">
        <% if order.status != "cancelled" %>
          <h3><%= t('views.order.index.order_details.order') %> <%= link_to "##{order.code}", order_path(order) %></h3>
        <% else %>
          <h3><%= t('views.order.index.order_details.order') %> <%="##{order.code}"%></h3>
        <% end %>
        <p><%= t('views.order.index.order_details.event_date') %>: <%= order.event_date.strftime("%d/%m/%Y") %></p>
        <p><%= t('views.order.index.order_details.status') %>: <%= order.status.capitalize %></p>
        <hr>
      </div>
    <% end %>
  <% else %>
    <p><%= t('views.order.index.no_orders') %></p>
  <% end %>
<% else %>
  <p><%= t('views.order.index.access_denied') %></p>
<% end %>

<%= link_to t('views.order.index.back'), root_path, class: 'btn btn-secondary' %>
