<h1>My Orders</h1>
<% if current_user.buffet_owner? %>
  <h2>Pending Orders</h2>
  <% if @pending_orders.present? %>
    <% @pending_orders.each do |order| %>
      <div class="pending-orders">
        <h3>Order <%= link_to "##{order.code}", order_path(order) %></h3>
        <p>Event Date: <%= order.event_date.strftime("%d/%m/%Y") %></p>
        <p>Status: <%= order.status.capitalize %></p>
        <hr>
      </div>
    <% end %>
  <% else %>
    <p>No pending order.</p>
  <% end %>

  <h2>Orders</h2>
  <% if @other_orders.present? %>
    <% @other_orders.each do |order| %>
      <div class="other-orders">
        <% if order.status != "cancelled" %>
          <h3>Order <%= link_to "##{order.code}", order_path(order) %></h3>
        <% else %>
          <h3>Order <%="##{order.code}"%></h3>
        <% end %>
        <p>Event Date: <%= order.event_date.strftime("%d/%m/%Y") %></p>
        <p>Status: <%= order.status.capitalize %></p>
        <hr>
      </div>
    <% end %>
  <% else %>
    <p>No other order.</p>
  <% end %>
<% elsif current_user.regular_user? %>
  <% if @client_orders.present? %>
    <% @client_orders.each do |order| %>
      <div class="client-orders">
        <% if order.status != "cancelled" %>
          <h3>Order <%= link_to "##{order.code}", order_path(order) %></h3>
        <% else %>
          <h3>Order <%="##{order.code}"%></h3>
        <% end %>
        <p>Event Date: <%= order.event_date.strftime("%d/%m/%Y") %></p>
        <p>Status: <%= order.status.capitalize %></p>
        <hr>
      </div>
    <% end %>
  <% else %>
    <p>You don't have any order.</p>
  <% end %>
<% else %>
  <p>Access denied.</p>
<% end %>

<%= link_to 'Back', root_path, class: 'btn btn-secondary' %>