<h1><%= t('views.order.new.title') %></h1>
<%= form_with(model: @order, url: buffet_orders_path(@buffet)) do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :event_type_id, t('views.order.new.labels.event_type') %>
    <%= form.select :event_type_id, @event_types.collect { |e| [e.name, e.id, {'data-days' => e.days_of_week}] },
                    {prompt: "Select Event Type"}, {class: "form-control", id: "order_event_type_id"} %>
  </div>

  <div class="form-group">
    <%= form.date_field :event_date, class: "form-control", id: "order_event_date", placeholder: t('views.order.new.labels.event_date') %>
  </div>

  <div class="form-group">
    <%= form.number_field :guest_count, class: "form-control", placeholder: t('views.order.new.labels.guest_count') %>
  </div>

  <div class="form-group">
    <%= form.text_area :details, class: "form-control", placeholder: t('views.order.new.labels.details') %>
  </div>

  <div class="form-group">
    <%= form.text_field :alternative_address, class: "form-control", placeholder: t('views.order.new.labels.alternative_address') %>
  </div>

  <div class="form-group">
    <%= form.submit t('views.order.new.actions.create_order'), class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to t('views.order.new.actions.back'), :back, class: "btn btn-secondary" %>

<%= javascript_include_tag "filter_event_date" %>
