<h1>Order Details</h1>

<p><%= @order.event_type.name %></p>
<p><%= @order.status %></p>
<p><%= @order.event_date %></p>
<p><%= @order.guest_count %></p>
<p><%= @order.details %></p>
<p><%= @order.alternative_address %></p>



